---
// import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
const { images } = Astro.props;
// const newImages = images.push(youtube)
---

<div class="my-10 w-[calc(100%+2rem)] -translate-x-4 lg:w-[calc(100%+8rem)] lg:-translate-x-16">
  <div id="default-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div
      class="relative z-20 h-80 w-full overflow-hidden rounded-lg min-[500px]:h-96 sm:h-[460px] min-[800px]:h-[600px] lg:h-[640px]"
    >
      <!-- Item 1 -->

      {
        images?.map((item: ImageMetadata | string, index: number) => {
          if (typeof item === "object") {
            return (
              <div class="hidden ease-in-out" data-carousel-item>
                <img
                  src={item.src}
                  class="relative left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 object-cover"
                  alt={item.src}
                />
              </div>
            );
          } else if (item.startsWith("https")) {
            return (
              <div class="hidden ease-in-out" data-carousel-item>
                <iframe
                  title={`Youtube Video`}
                  width="560"
                  height="315"
                  src={`${item}?amp&rel=0&mute=1`}
                  allowfullscreen
                  class="absolute left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 bg-black object-cover"
                />
              </div>
            );
          } else if (item.startsWith("/")) {
            return (
              <div class="h-full w-full ease-in-out" data-carousel-item>
                <img
                  src={item}
                  class="relative left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 object-cover"
                  alt={`Carousel image ${index + 1}`}
                />
              </div>
            );
          }
        })
      }
    </div>

    <!-- Slider controls -->
    <div class="justify-center">
      <button
        type="button"
        class="group absolute left-2 top-1/2 z-30 flex cursor-pointer rounded-full"
        data-carousel-prev
      >
        <span
          class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-gray-800/60 group-focus:outline-none dark:bg-gray-800/30 dark:group-hover:bg-white/50 sm:h-10 sm:w-10"
        >
          <svg
            class="h-5 w-5 text-gray-800 dark:text-white sm:h-6 sm:w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"></path></svg
          >
          <!-- <span class="hidden">Previous</span> -->
        </span>
        <span class="sr-only">Prev</span>
      </button>
    </div>

    <button
      type="button"
      class="group absolute right-2 top-1/2 z-30 flex cursor-pointer rounded-full"
      data-carousel-next
    >
      <span
        class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-gray-800/60 group-focus:outline-none dark:bg-gray-800/30 dark:group-hover:bg-white/50 sm:h-10 sm:w-10"
        data-carousel-next
      >
        <svg
          class="h-5 w-5 text-gray-800 dark:text-white sm:h-6 sm:w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"
          ></path></svg
        >
        <!-- <span class="hidden">Next</span> -->
      </span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>
